[[extend 'layout.html']]

<style>
[v-cloak] {
     display: none;
}
</style>



<div class="section" id="vue-target" v-cloak>
  <div class="title">Postlandia</div>
  <!-- Put here your Vue.js template --> 

  <div v-if="add_mode" class="container block">
  <div class="block">
    <div class="field">
      <p class="control">
        <input class="input" type="text" v-model="new_comment"/>
      </p>
    </div>
    <button class="button is-primary" @click="add_post" >Post</button>
    <button class="button is-warning" @click="set_add_status(false)" >Cancel</button>
  </div>
</div>

  <div id="comments" class="block">
    <button @click="set_add_status(true)" class="button is-primary">
      <i class="fa fa-plus fa-fw"></i>
    </button>
    <div v-for="r in posts.reverse() " class="block">
      <div class="notification">
        <div class="tile is-child is-primary">
          <div>
            {{r.text}}
          </div>
          <div>
            <h6 class="subtitle has-text-grey is-6">
              {{r.first_name}} {{r.last_name}}
            </h6>
          </div>
          <div>
            <div class="columns is-gapless">
              <div class="column is-12">
                
                <span>
                  <!--<i v-if="r.thumbs_up" class="fa fa-star"></i> -->
                  <!-- <i class="fa fa-thumbs-o-up has-text-info"></i> <i class="fa fa-thumbs-o-down has-text-info"></i> -->
                  <span @click="like(r._idx)" class="fa fa-thumbs-o-up has-text-info"></span> 
                  <span class="fa fa-thumbs-o-down has-text-info"></span>
                </span>
              </div>
              <div class="column">
                <i v-if="current_user == r.email" class="fa fa-trash has-text-danger" @click="delete_post(r._idx)"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
</div>


[[block page_scripts]]
<!-- Loads the index-specific js for Vue -->
<script>
  let my_callback_url = "[[=XML(my_callback_url)]]";
  let load_posts_url = "[[=XML(load_posts_url)]]";
  let add_post_url = "[[=XML(add_post_url)]]";
  let delete_post_url = "[[=XML(delete_post_url)]]";
  let load_user_url = "[[=XML(load_user_url)]]";
  let get_rating_url = "[[=XML(get_rating_url)]]";
  let set_rating_url = "[[=XML(set_rating_url)]]";
</script>
<script src="js/index.js"></script>
[[end]]
